1. Setup Pyspark

In [1]:
# Insttall Pyspark
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 48 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 45.0 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845514 sha256=61eb8d28eeab59eda770c152e0d7527abcd7325648ce074cfd9a1ee6c9582bda
  Stored in directory: /root/.cache/pip/wheels/42/59/f5/79a5bf931714dcd201b26025347785f087370a10a3329a899c
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [2]:
# Import SparkSession
from pyspark.sql import SparkSession

In [4]:
# Konfigurasi Spark

# Membuat SparkSession
spark = SparkSession.builder\
        .master("local")\
        .appName("uts")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

# Deklarasi fungsi
sc = spark.sparkContext

2.	Baca data dari FullData.csv, kemudian pecah setidaknya menjadi 2 RDD (players, clubs)

In [5]:
# Read CSV file atau membaca data
df = spark.read.csv("FullData.csv", header=True, inferSchema=True)

df.printSchema() # Berfungsi menampilkan tipe data dati setiap kolom yang ada
df.show(10)

root
 |-- Name: string (nullable = true)
 |-- Nationality: string (nullable = true)
 |-- National_Position: string (nullable = true)
 |-- National_Kit: double (nullable = true)
 |-- Club: string (nullable = true)
 |-- Club_Position: string (nullable = true)
 |-- Club_Kit: double (nullable = true)
 |-- Club_Joining: string (nullable = true)
 |-- Contract_Expiry: double (nullable = true)
 |-- Rating: integer (nullable = true)
 |-- Height: string (nullable = true)
 |-- Weight: string (nullable = true)
 |-- Preffered_Foot: string (nullable = true)
 |-- Birth_Date: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Preffered_Position: string (nullable = true)
 |-- Work_Rate: string (nullable = true)
 |-- Weak_foot: integer (nullable = true)
 |-- Skill_Moves: integer (nullable = true)
 |-- Ball_Control: integer (nullable = true)
 |-- Dribbling: integer (nullable = true)
 |-- Marking: integer (nullable = true)
 |-- Sliding_Tackle: integer (nullable = true)
 |-- Standing_Tackle: integer (nullable = true)
 |-- Aggression: integer (nullable = true)
 |-- Reactions: integer (nullable = true)
 |-- Attacking_Position: integer (nullable = true)
 |-- Interceptions: integer (nullable = true)
 |-- Vision: integer (nullable = true)
 |-- Composure: integer (nullable = true)
 |-- Crossing: integer (nullable = true)
 |-- Short_Pass: integer (nullable = true)
 |-- Long_Pass: integer (nullable = true)
 |-- Acceleration: integer (nullable = true)
 |-- Speed: integer (nullable = true)
 |-- Stamina: integer (nullable = true)
 |-- Strength: integer (nullable = true)
 |-- Balance: integer (nullable = true)
 |-- Agility: integer (nullable = true)
 |-- Jumping: integer (nullable = true)
 |-- Heading: integer (nullable = true)
 |-- Shot_Power: integer (nullable = true)
 |-- Finishing: integer (nullable = true)
 |-- Long_Shots: integer (nullable = true)
 |-- Curve: integer (nullable = true)
 |-- Freekick_Accuracy: integer (nullable = true)
 |-- Penalties: integer (nullable = true)
 |-- Volleys: integer (nullable = true)
 |-- GK_Positioning: integer (nullable = true)
 |-- GK_Diving: integer (nullable = true)
 |-- GK_Kicking: integer (nullable = true)
 |-- GK_Handling: integer (nullable = true)
 |-- GK_Reflexes: integer (nullable = true)

+------------------+-----------+-----------------+------------+--------------+-------------+--------+------------+---------------+------+------+------+--------------+----------+---+------------------+---------------+---------+-----------+------------+---------+-------+--------------+---------------+----------+---------+------------------+-------------+------+---------+--------+----------+---------+------------+-----+-------+--------+-------+-------+-------+-------+----------+---------+----------+-----+-----------------+---------+-------+--------------+---------+----------+-----------+-----------+
|              Name|Nationality|National_Position|National_Kit|          Club|Club_Position|Club_Kit|Club_Joining|Contract_Expiry|Rating|Height|Weight|Preffered_Foot|Birth_Date|Age|Preffered_Position|      Work_Rate|Weak_foot|Skill_Moves|Ball_Control|Dribbling|Marking|Sliding_Tackle|Standing_Tackle|Aggression|Reactions|Attacking_Position|Interceptions|Vision|Composure|Crossing|Short_Pass|Long_Pass|Acceleration|Speed|Stamina|Strength|Balance|Agility|Jumping|Heading|Shot_Power|Finishing|Long_Shots|Curve|Freekick_Accuracy|Penalties|Volleys|GK_Positioning|GK_Diving|GK_Kicking|GK_Handling|GK_Reflexes|
+------------------+-----------+-----------------+------------+--------------+-------------+--------+------------+---------------+------+------+------+--------------+----------+---+------------------+---------------+---------+-----------+------------+---------+-------+--------------+---------------+----------+---------+------------------+-------------+------+---------+--------+----------+---------+------------+-----+-------+--------+-------+-------+-------+-------+----------+---------+----------+-----+-----------------+---------+-------+--------------+---------+----------+-----------+-----------+
| Cristiano Ronaldo|   Portugal|               LS|         7.0|   Real Madrid|           LW|     7.0|  07/01/2009|         2021.0|    94|185 cm| 80 kg|         Right|02/05/1985| 32|             LW/ST|     High / Low|        4|          5|          93|       92|     22|            23|             31|        63|       96|                94|           29|    85|       86|      84|        83|       77|          91|   92|     92|      80|     63|     90|     95|     85|        92|       93|        90|   81|               76|       85|     88|            14|        7|        15|         11|         11|
|      Lionel Messi|  Argentina|               RW|        10.0|  FC Barcelona|           RW|    10.0|  07/01/2004|         2018.0|    93|170 cm| 72 kg|          Left|06/24/1987| 29|                RW|Medium / Medium|        4|          4|          95|       97|     13|            26|             28|        48|       95|                93|           22|    90|       94|      77|        88|       87|          92|   87|     74|      59|     95|     90|     68|     71|        85|       95|        88|   89|               90|       74|     85|            14|        6|        15|         11|          8|
|            Neymar|     Brazil|               LW|        10.0|  FC Barcelona|           LW|    11.0|  07/01/2013|         2021.0|    92|174 cm| 68 kg|         Right|02/05/1992| 25|                LW|  High / Medium|        5|          5|          95|       96|     21|            33|             24|        56|       88|                90|           36|    80|       80|      75|        81|       75|          93|   90|     79|      49|     82|     96|     61|     62|        78|       89|        77|   79|               84|       81|     83|            15|        9|        15|          9|         11|
|       Luis Suárez|    Uruguay|               LS|         9.0|  FC Barcelona|           ST|     9.0|  07/11/2014|         2021.0|    92|182 cm| 85 kg|         Right|01/24/1987| 30|                ST|  High / Medium|        4|          4|          91|       86|     30|            38|             45|        78|       93|                92|           41|    84|       83|      77|        83|       64|          88|   77|     89|      76|     60|     86|     69|     77|        87|       94|        86|   86|               84|       85|     88|            33|       27|        31|         25|         37|
|      Manuel Neuer|    Germany|               GK|         1.0|     FC Bayern|           GK|     1.0|  07/01/2011|         2021.0|    92|193 cm| 92 kg|         Right|03/27/1986| 31|                GK|Medium / Medium|        4|          1|          48|       30|     10|            11|             10|        29|       85|                12|           30|    70|       70|      15|        55|       59|          58|   61|     44|      83|     35|     52|     78|     25|        25|       13|        16|   14|               11|       47|     11|            91|       89|        95|         90|         89|
|            De Gea|      Spain|               GK|         1.0|Manchester Utd|           GK|     1.0|  07/01/2011|         2019.0|    90|193 cm| 82 kg|         Right|11/07/1990| 26|                GK|Medium / Medium|        3|          1|          31|       13|     13|            13|             21|        38|       88|                12|           30|    68|       60|      17|        31|       32|          56|   56|     25|      64|     43|     57|     67|     21|        31|       13|        12|   21|               19|       40|     13|            86|       88|        87|         85|         90|
|Robert Lewandowski|     Poland|               LS|         9.0|     FC Bayern|           ST|     9.0|  07/01/2014|         2021.0|    90|185 cm| 79 kg|         Right|08/21/1988| 28|                ST|  High / Medium|        4|          3|          87|       85|     25|            19|             42|        80|       88|                89|           39|    78|       87|      62|        83|       65|          79|   82|     79|      84|     79|     78|     84|     85|        86|       91|        82|   77|               76|       81|     86|             8|       15|        12|          6|         10|
|       Gareth Bale|      Wales|               RS|        11.0|   Real Madrid|           RW|    11.0|  09/02/2013|         2022.0|    90|183 cm| 74 kg|          Left|07/16/1989| 27|                RW|  High / Medium|        3|          4|          88|       89|     51|            52|             55|        65|       87|                86|           59|    79|       85|      87|        86|       80|          93|   95|     78|      80|     65|     77|     85|     86|        91|       87|        90|   86|               85|       76|     76|             5|       15|        11|         15|          6|
|Zlatan Ibrahimović|     Sweden|             null|        null|Manchester Utd|           ST|     9.0|  07/01/2016|         2017.0|    90|195 cm| 95 kg|         Right|10/03/1981| 35|                ST|   Medium / Low|        4|          4|          90|       87|     15|            27|             41|        84|       85|                86|           20|    83|       91|      76|        84|       76|          69|   74|     75|      93|     41|     86|     72|     80|        93|       90|        88|   82|               82|       91|     93|             9|       13|        10|         15|         12|
|  Thibaut Courtois|    Belgium|               GK|         1.0|       Chelsea|           GK|    13.0|  07/26/2011|         2019.0|    89|199 cm| 91 kg|          Left|05/11/1992| 24|                GK|Medium / Medium|        3|          1|          23|       13|     11|            16|             18|        23|       81|                13|           15|    44|       52|      14|        32|       31|          46|   52|     38|      70|     45|     61|     68|     13|        36|       14|        17|   19|               11|       27|     12|            86|       84|        69|         91|         89|
+------------------+-----------+-----------------+------------+--------------+-------------+--------+------------+---------------+------+------+------+--------------+----------+---+------------------+---------------+---------+-----------+------------+---------+-------+--------------+---------------+----------+---------+------------------+-------------+------+---------+--------+----------+---------+------------+-----+-------+--------+-------+-------+-------+-------+----------+---------+----------+-----+-----------------+---------+-------+--------------+---------+----------+-----------+-----------+
only showing top 10 rows

In [6]:
# Membagi file menjadi 2 RDD

# Drop kolom Club
Players_RDD = df.drop('Club').rdd

# Menggunakan kolom Club
Club_RDD = df.select('Club').distinct().rdd

# 3. Mengubah RDD menjadi PySpark Dataframe

In [7]:
# Mengubah RDD menjadi DataFrame
Players_df = Players_RDD.toDF()
Club_df = Club_RDD.toDF()

# 4. Agregasi jumlah pemain masing-masing kelompok berdasarkan:

## a. Nationaly

## b. Club

In [8]:
# Agregasi pemain berdasarkan 'Nationaly'
from pyspark.sql import functions as C

Players_count = Players_df.groupBy('Nationality').agg(C.count('Name')\
  .alias('Players_Agg')).orderBy('Players_Agg', ascending=False) 

Players_count.show(10)

+-------------------+-----------+
|        Nationality|Players_Agg|
+-------------------+-----------+
|            England|       1618|
|          Argentina|       1097|
|              Spain|       1008|
|             France|        974|
|             Brazil|        921|
|              Italy|        751|
|            Germany|        689|
|           Colombia|        592|
|              Japan|        471|
|Republic of Ireland|        442|
+-------------------+-----------+
only showing top 10 rows

In [9]:
# Agregasi pemain berdasarkan 'Club'
Club_count = Club_df.join(df, ['Club'], "inner")
Club_count.groupBy('Club').agg(C.count('Name').alias('Players_Agg')).show(10)

+---------------+-----------+
|           Club|Players_Agg|
+---------------+-----------+
|        Palermo|         28|
|Shonan Bellmare|         24|
|    Yeovil Town|         24|
|     Sagan Tosu|         25|
|          Carpi|         26|
| Kaiserslautern|         28|
|   Sparta R'dam|         29|
|       FC Basel|         27|
|  Karlsruher SC|         28|
|Cheltenham Town|         25|
+---------------+-----------+
only showing top 10 rows

# 5. Agregasi nilai:

### a. Rata-rata rating berdasarkan Club_Position

### b. Max rating berdasarkan National_Position

In [10]:
# a. Agregasi rating berdasakan Club_Position
Club_Position_avg_rating = Players_df.groupBy('Club_Position')\
.agg(C.avg('Rating').alias('Club_Position_avg_rating'))

Club_Position_avg_rating.show(10)

+-------------+------------------------+
|Club_Position|Club_Position_avg_rating|
+-------------+------------------------+
|           RF|                    72.0|
|          LWB|       67.44444444444444|
|          LCM|       68.77966101694915|
|           LM|       68.81884057971014|
|          RDM|       69.81954887218045|
|           LF|       71.08333333333333|
|         null|                    81.0|
|          CAM|        70.5904761904762|
|          RAM|       71.22222222222223|
|           LB|       68.10382513661202|
+-------------+------------------------+
only showing top 10 rows

In [11]:
# b. Agregasi max rating berdasakan National_Position
National_Position_maxrating = Players_df.groupBy('National_Position')\
.agg(C.max('Rating').alias('National_Position_Max_Rating'))

National_Position_maxrating.show(10)

+-----------------+----------------------------+
|National_Position|National_Position_Max_Rating|
+-----------------+----------------------------+
|               RF|                          85|
|              LWB|                          75|
|              LCM|                          88|
|               LM|                          87|
|              RDM|                          84|
|               LF|                          89|
|             null|                          90|
|              CAM|                          89|
|              RAM|                          83|
|               LB|                          86|
+-----------------+----------------------------+
only showing top 10 rows

# 6. Melakukan 3 Operasi transform RDD

### a. ReduceByKey

### b. ShortByKey

### c. Filtering

In [12]:
# a. ReduceByKey
Club_kit = df.select('Club', 'Club_Kit').rdd 
Club_sum_map = Club_kit.map(lambda row: (row.Club, row.Club_Kit))

In [13]:
Club_kit_sum = Club_sum_map.reduceByKey(lambda x, y: x + y)
for key, value in Club_kit_sum.take(10): print(f'{key} has a club kit sum of {value}')

Real Madrid has a club kit sum of 582.0
FC Barcelona has a club kit sum of 640.0
FC Bayern has a club kit sum of 521.0
Manchester Utd has a club kit sum of 814.0
Chelsea has a club kit sum of 868.0
Arsenal has a club kit sum of 766.0
Juventus has a club kit sum of 633.0
PSG has a club kit sum of 576.0
Manchester City has a club kit sum of 1069.0
Atlético Madrid has a club kit sum of 567.0

In [14]:
#b. ShortbyKey
swap_Club_kit_sum = Club_kit_sum.map( lambda row: (row[1], row[0]))

In [15]:
sorted_kit_sum = swap_Club_kit_sum.sortByKey(ascending=False)
for key, value in Club_kit_sum.take(10): print(f'Sum rating of {value} is from {key} club')

Sum rating of 582.0 is from Real Madrid club
Sum rating of 640.0 is from FC Barcelona club
Sum rating of 521.0 is from FC Bayern club
Sum rating of 814.0 is from Manchester Utd club
Sum rating of 868.0 is from Chelsea club
Sum rating of 766.0 is from Arsenal club
Sum rating of 633.0 is from Juventus club
Sum rating of 576.0 is from PSG club
Sum rating of 1069.0 is from Manchester City club
Sum rating of 567.0 is from Atlético Madrid club

In [16]:
# c. Filtering Goal Keeper (GK) terbaik di setiap club
GK_filtering = Players_RDD.filter(
lambda Filtering_Players: Filtering_Players.Club_Position == 'GK' 
  and Filtering_Players.Rating >= 89)

for x in GK_filtering.collect():
  print(f'Posisi {x.Club_Position} dengan rating {x.Rating} dimiliki oleh {x.Name}')

Posisi GK dengan rating 92 dimiliki oleh Manuel Neuer
Posisi GK dengan rating 90 dimiliki oleh De Gea
Posisi GK dengan rating 89 dimiliki oleh Thibaut Courtois